    {{#if theUser}}
    
    <div class="container-fluid">
        <div class="row nav-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h1 class= "nav-title">RateFlix</h1>
            </div> 
            <div class="col-sm-4">
                <ul class="links-in-nav">
                    <li><a id="first-link" href="#">Home</a></li>
                    <li><a href="/shows">TV Shows</a> </li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href= "/logout">Log Out</a></li>
                </ul>
            </div>
        </div>


<div class= "profile-info">
    <div class= "profile-photo">
        <img src="{{theUser.image}}" alt="">
    </div>

    <div class= "profile-name">
        <h3>{{theUser.username}}</h3>
    </div>
</div>

<h2 class= "showreviews">Shows You Reviewed: </h2>
<div class= "reviewedShows">

{{#each showsIReviewed}}
    <div class= "reviewedShows-info">
        <div class= "reviewedShows-image">
            <img src="{{this.image}}" alt="">
            </div>
        <span>{{this.title}}</span>
    </div>
{{/each}}
</div>

<h2 class= "moviereviews">Movies You Reviewed: </h2>
<div class= "reviewedMovies">


{{#each moviesIReviewed}}
    <div class= "reviewedShows-info">
        <div class= "reviewedShows-image">
            <a href="/movies/{{this._id}}"><img src="{{this.image}}" alt=""></a>
            </div>
        <span>{{this.title}}</span>
    </div>
{{/each}}
</div>



<footer>
    <h5>RateFlix</h5>
</footer>
{{/if}}